APP_NAME="Nahuelbuta 360"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://nahuelbuta360.0km.app

LOG_CHANNEL=stack
LOG_LEVEL=warning

# Dentro de docker-compose, el host es el nombre del servicio, no localhost
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ruta360
DB_USERNAME=ruta360
DB_PASSWORD=CAMBIAR_ESTA_CLAVE

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"
